<h2 class="ui dividing header">
    <i class="database icon" style="font-size: 0.8em"></i>
    <div class="content">
        IP Repository
    </div>
</h2>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui four cards">
        <div class="card">
            <div class="content">
                <div class="header">
                    <i class="microchip icon"></i> PLL
                </div>
            </div>
            <div class="content">
                <div class="meta">
                    <div class="ui list">
                        <div class="item">
                            <div class="content">
                                <i class="open folder icon"></i> Analog & Mixed Signal
                            </div>
                            <div class="list">
                                <div class="item">
                                    <div class="content">
                                        <i class="open folder icon"></i> PLL
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <div class="content">
                                                <i class="folder icon"></i> General Purpose PLL
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="description">
                    Brief description for the IP
                </div>
            </div>
            <div class="extra content button">
                <a class="left floated like" href="/ip-view/1">
                    <i class="search icon"></i>
                    View IP
                </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">
                    <i class="microchip icon"></i> VCO
                </div>
            </div>
            <div class="content">
                <div class="meta">
                    <div class="ui list">
                        <div class="item">
                            <div class="content">
                                <i class="open folder icon"></i> Analog & Mixed Signal
                            </div>
                            <div class="list">
                                <div class="item">
                                    <div class="content">
                                        <i class="open folder icon"></i> VCO
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <div class="content">
                                                <i class="folder icon"></i> Voltage-Controlled Ring Oscillator (VCRO)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="description">
                    Brief description for the IP
                </div>
            </div>
            <div class="extra content button">
                <a class="left floated like" href="/ip-view/2">
                    <i class="search icon"></i>
                    View IP
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
