<div class="ui container">
  <!-- header -->
  <posh-header></posh-header>

  <!-- main app container -->
  <div class="ui attached segment">
    <router-outlet></router-outlet>
  </div>

  <posh-footer></posh-footer>
</div>

<!--<ngx-toast-queue></ngx-toast-queue>-->
<!--<posh-alert></posh-alert>-->

<!--&lt;!&ndash; main app container &ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--&lt;!&ndash; routes will be rendered here &ndash;&gt;-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<posh-footer></posh-footer>-->
